* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  /* max-width: 100%; */
}

figure img {
  display: block;
  width: 100%;
}

/* PALETTE COLORI */

:root {
  --blue: #0084fd;
  --light-blue: #b5ddff;
  --purple: #9792e4;
  --orange: #fdc15f;
  --dark-grey: #333333;
  --white: #ffffff;
  --black: #000000;
  --grey-text: #5a6e7f;
}

/* HEADER */

.page-header {
  background-color: var(--blue);
  margin-bottom: 38px;
}

.nav-list {
  display: flex;
  gap: 20px;
  color: var(--white);
  font-size: 17px;
  font-weight: 100;
  line-height: 37px;
}

.header-col {
  padding: 17px 0;
}

.nav-menu {
  display: none;
}

/* HERO */

.hero[class*='col-'] {
  display: flex;
  padding: 12px;
}

.card {
  display: flex;
  background-color: var(--light-blue);
  border-radius: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  font-weight: 700;
}

.card-text .header {
  color: var(--blue);
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
}
.card-text .body {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 2em;
}

.col-8 .card-text .body {
  max-width: 85%;
}

.card-button.button {
  display: flex;
  gap: 10px;
  color: var(--white);
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  margin-top: 25px;
  padding: 0 60px;
  white-space: nowrap;
}

.card-image {
  display: flex;
  align-items: end;
  max-width: 36%;
  margin-right: 60px;
}

.header-image {
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
}

/* UTILITY */

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.button {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  border-radius: 999px;
  padding: 0 16px;
  white-space: nowrap;
}

/* CONTAINER */

.container-l {
  max-width: 1138px;
  margin: 0 auto;
}

.container-m {
  max-width: 1048px;
  margin: 0 auto;
}

.container-s {
  max-width: 876px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* COLUMNS */

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

/* DEBUG */

.debug [class^='container-'] {
  border: 1px solid orangered;
  padding: 10px;
}

.debug .row {
  border: 1px solid orange;
  padding: 10px;
}

.debug [class*='col'] {
  border: 1px solid greenyellow;
  padding: 10px;
}

/* RESPONSIVE */

/* DESKTOP */
@media screen and (max-width: 1440px) {
  .header-col {
    padding: 17px 32px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  /* HEADER */
  .nav-menu {
    display: block;
  }
  .nav-items,
  .header-button {
    display: none;
    line-height: 23px;
  }
  .header-col {
    padding: 17px 18px;
  }
  .container-l {
    max-width: 745px;
  }

  /* HERO */

  .hero .col-8 .card {
    /* display: block; */
    flex-direction: column;
  }
  .card-image img {
    width: 250px;
    margin-left: 35px;
  }
}

/* MOBILE */
@media screen and (max-width: 576px) {
  .container-l {
    max-width: 313px;
  }

  .header-col {
    padding: 17px 0;
  }

  /* HERO */

  .hero[class*='col'] {
    max-width: 100%;
  }

  .hero[class*='col-'] {
    padding: 12px 0;
  }
  .hero .row {
    display: block;
  }
  .card-image {
    margin-right: 0;
  }
}
