* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

figure img {
  display: block;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* PALETTE COLORI */

:root {
  --blue: #0084fd;
  --light-blue: #b5ddff;
  --purple: #9792e4;
  --orange: #fdc15f;
  --dark-grey: #333333;
  --white: #ffffff;
  --black: #000000;
  --grey-text: #5a6e7f;
}

/* HEADER */

.page-header {
  background-color: var(--blue);
  margin-bottom: 38px;
}

.nav-list {
  display: flex;
  gap: 20px;
  color: var(--white);
  font-size: 17px;
  font-weight: 100;
  line-height: 37px;
}

.header-col {
  padding: 17px 0;
}

.nav-menu {
  display: none;
}

/* HERO */

.hero .container-l {
  margin-bottom: 104px;
}

.hero[class*='col-'] {
  display: flex;
  padding: 12px;
}

.card {
  display: flex;
  background-color: var(--light-blue);
  border-radius: 20px;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  font-weight: 700;
}

.card-text .header {
  color: var(--blue);
  text-align: center;
  font-size: 20px;
  padding-bottom: 25px;
}
.card-text .body {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 2em;
}

.col-8 .card-text .body {
  max-width: 85%;
}

.card-button.button {
  display: flex;
  gap: 10px;
  color: var(--white);
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  margin-top: 25px;
  padding: 0 60px;
  white-space: nowrap;
}

.card-image {
  display: flex;
  align-items: end;
  max-width: 36%;
  margin-right: 60px;
}

.header-image {
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
}

/* ADVERTISING */

.advertising {
  background-color: var(--purple);
}

.advertising .card-2 {
  padding: 0 32px;
  border-radius: 20px;
}

.card-2 .body {
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5em;
}

.card-2.white {
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 310px;
  margin-bottom: 64px;
}
.card-2.white .title {
  font-weight: bold;
  font-size: 20px;
}

.card-2.white .body {
  max-width: 350px;
  margin: 0 auto;
}

.card-2.purple {
  color: var(--white);
  margin-top: 120px;
  margin-bottom: 64px;
}

.card-2.purple .title {
  font-weight: bold;
  font-size: 28px;
  padding-top: 90px;
  padding-bottom: 50px;
}

.body-arrow {
  background-color: var(--purple);
  line-height: 50px;
  border-radius: 50%;
  padding: 0 20px;
  margin-bottom: 30px;
}

/* TESTIMONIALS */

.testimonials .row {
  margin-bottom: 113px;
}

.testimonials .col-12.title {
  flex-direction: column;
  gap: 20px;
  padding: 55px 0 65px 0;
}

.testimonials .title {
  justify-content: center;
  font-weight: 100;
}

.testimonials h2 {
  color: var(--purple);
  font-size: 40px;
}

.testimonials p {
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
}

.testimonials .col-12.quotes {
  flex-direction: column;
  gap: 33px;
  color: var(--white);
}

.testimonials .quote {
  background-color: var(--purple);
  flex-direction: row;
  gap: 64px;
  border-radius: 40px;
  padding: 40px 20px;
}

.testimonial {
  font-weight: bold;
}

.testimonials .quote .body {
  margin-bottom: 40px;
  line-height: 2em;
  font-size: 20px;
  font-weight: 100;
}

.testimonials .quote figure {
  width: 38%;
}
.testimonials .quote img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/* BENEFITS */

.benefits {
  background-color: var(--purple);
}

.benefits .row {
  padding-bottom: 64px;
}

.benefits [class^='col-'] {
  padding: 12px;
}

.section-title {
  color: var(--white);
  font-size: 42px;
  font-weight: bold;
  padding: 77px 0;
}

.benefits .card {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  padding: 0 12px;
  background-color: var(--white);
  padding: 30px;
  color: var(--grey-text);
}

.benefits .card-number,
.benefits .card-title {
  color: var(--purple);
}

.benefits .card-number {
  font-size: 65px;
  font-weight: bold;
}

.benefits .card-title {
  font-size: 22px;
  font-weight: bold;
}
.benefits .card-body {
  line-height: 2em;
}

.benefits .button {
  background-color: var(--purple);
  color: var(--white);
  line-height: 2em;
  text-align: center;
  padding: 0 30px;
}

/* ABOUT US */

.about-us .row {
  margin: 96px 0;
  flex-wrap: nowrap;
}

.about-us figure img {
  border-radius: 50%;
}

.about-us .col-text {
  /* max-width: fit-content; */
  padding-right: 109px;
}
.about-us .col-img {
  width: 254px;
}

.about-us .title,
.about-us p {
  color: var(--purple);
}

.about-us .title {
  font-size: 60px;
  margin-bottom: 30px;
}

.about-us .body {
  line-height: 2em;
}

.about-us p {
  line-height: 1.5em;
  margin: 20px 0;
  font-weight: bold;
}

.about-us button {
  background-color: var(--purple);
  color: var(--white);
  line-height: 2em;
  border-radius: 20px;
  padding: 0 30px;
  white-space: nowrap;
}

.col-img figure {
  position: relative;
}

.col-img figure::before {
  display: inline-block;
  text-rendering: auto;
  /* -webkit-font-smoothing: antialiased; */
  font: var(--fa-font-solid);
  content: '\f10d';
  position: absolute;
  top: 0;
  right: -20px;
  color: var(--purple);
  font-size: 80px;
}

/* GET STARTED */

.get-started {
  background-color: var(--purple);
}

.get-started .col-12 {
  flex-direction: column;
  gap: 30px;
  padding: 76px 158px;
}

.get-started {
  font-weight: 100;
  line-height: 2em;
  color: var(--white);
  font-size: 28px;
}

.pricing {
  font-size: 43px;
  font-weight: bold;
  color: var(--white);
}

.free {
  font-size: 82px;
  font-weight: bold;
  color: var(--orange);
}

.paragraph {
  color: var(--white);
  font-weight: 100;
  line-height: 2em;
  font-size: 24px;
  text-align: center;
}

.button-started {
  line-height: 80px;
  color: var(--purple);
  font-weight: 100;
  border-radius: 50px;
  padding: 0 100px;
  font-size: 20px;
}

.copyright {
  color: var(--white);
}

/* FOOTER */

.footer {
  background-color: var(--dark-grey);
}

.footer .col-12 {
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding: 45px 50px;
}

.footer-paragraph {
  color: var(--white);
}

.footer .links {
  color: var(--white);
}

.footer .links u {
  color: var(--purple);
}
/* UTILITY */

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.button {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  border-radius: 999px;
  padding: 0 16px;
  white-space: nowrap;
}

.white {
  background-color: var(--white);
}

/* CONTAINER */

.container-l {
  max-width: 1138px;
  margin: 0 auto;
}

.container-m {
  max-width: 1048px;
  margin: 0 auto;
}

.container-s {
  max-width: 1004px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* COLUMNS */

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}

/* DEBUG */

.debug [class^='container-'] {
  border: 1px solid orangered;
  padding: 10px;
}

.debug .row {
  border: 1px solid orange;
  padding: 10px;
}

.debug [class*='col'] {
  border: 1px solid greenyellow;
  padding: 10px;
  min-height: 200px;
}

/* RESPONSIVE */

/* DESKTOP */
@media screen and (max-width: 1440px) {
  .header-col {
    padding: 17px 32px;
  }
}

/* TABLET */
@media screen and (max-width: 768px) {
  /* HEADER */
  .nav-menu {
    display: block;
  }
  .nav-items,
  .header-button {
    display: none;
    line-height: 23px;
  }
  .header-col {
    padding: 17px 18px;
  }
  .page-header .container-l {
    max-width: 745px;
  }

  /* HERO */

  .hero .container-l {
    width: 745px;
  }

  .hero .col-8 .card {
    /* display: block; */
    flex-direction: column;
  }
  .card-image img {
    width: 250px;
    margin-left: 35px;
  }

  /* ADVERTISING */

  .advertising .row {
    flex-direction: column;
  }

  .advertising .container-s {
    width: 720px;
  }
  .advertising .card-2.white {
    margin-top: 0;
  }

  /* TESTIMONIALS */
  .testimonials .container-l {
    width: 720px;
  }

  /* BENEFITS */
  .benefits .container-l {
    width: 740px;
  }

  .benefits .col-4 {
    flex-basis: calc((100% / 12) * 6);
  }

  /* ABOUT US */
  .about-us .container-m {
    width: 699px;
  }

  /* GET STARTED */

  .get-started .col-12 {
    padding: 76px 0;
  }
}

/* MOBILE */
@media screen and (max-width: 576px) {
  /* HEADER */

  .page-header .container-l {
    width: 313px;
  }

  .header-col {
    padding: 17px 0;
  }

  /* HERO */

  .hero .container-l {
    width: 313px;
  }

  .hero[class*='col'] {
    max-width: 100%;
  }

  .hero[class*='col-'] {
    padding: 12px 0;
  }
  .hero .row {
    display: block;
  }
  .card-image {
    margin-right: 0;
  }

  /* ADVERTISING */

  .advertising .row {
    flex-direction: column;
  }

  .advertising .container-s {
    width: 313px;
  }
  .advertising .card-2.white {
    margin-top: 0;
  }

  /* TESTIMONIALS */

  .testimonials .container-l {
    width: 313px;
  }
  .testimonials .col-12 {
    text-align: center;
  }
  .testimonials h2 {
    font-size: 36px;
  }
  .testimonials .quote {
    flex-direction: column;
  }
  .testimonials .quote figure {
    width: 80%;
  }

  /* BENEFITS */
  .benefits .container-l {
    width: 313px;
  }

  .benefits .col-4 {
    flex-basis: calc((100% / 12) * 12);
  }

  /* ABOUT US */
  .about-us .container-m {
    width: 313px;
  }

  .about-us .row {
    flex-direction: column;
  }

  .about-us .col-text {
    padding-right: 0;
    padding-bottom: 70px;
  }

  /* GET STARTED */

  .get-started .container-s {
    max-width: 313px;
  }

  .pricing {
    font-size: 22px;
  }

  .free {
    font-size: 57px;
  }

  .copyright {
    font-size: 12px;
  }
}
